.edit_form_container{
    height: 200px;
    width: 500px;
    /* background-color: wheat; */
}

.edit_form_info_container{
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    align-items: center;
    /* background-color: aqua; */
    justify-content: center;
    max-width: 90%;
    margin: auto;
}

.edit_form_info_container> div {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.edit_button{
    width: 100%;
	border-radius: 5px;
	background-color: red;
	margin-top: 2em;
	color: white;
    margin-top: 20px;
	border: 2px solid grey;
}

.edit_input_field{
    border-radius: 5px;
    border: 2px solid grey;
}

.edit_title{
    max-width: 90%;
    margin-top: 1em;
    /* background-color:plum; */
    margin-left: auto;
    margin-right: auto;

}

/* .edit_section_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.edit_outside_button{
    background-color: red;
    border-radius: 5px;
    width: 100px;
    margin-left: 10px;
    color: white;
    border: gray;
    border: 2px solid gray;

}

.review_button_container{
    display: flex;
    justify-content: space-around;
}