.review_container{
    /* background-color: red; */
    max-width: 70%;
    margin: auto;
}

.review_starts{
    display: flex;
    flex-direction: row;
}

.review_content{
    /* width: 90%; */
    margin: auto;
}

/* .review_description {
   
    
} */

.manage_review_delete_button{
    margin-top: 3px;
    background-color: red;
    border-radius: 5px;
    width: 100px;
    margin-left: 10px;
    color: white;
    border: gray 2px solid;

    /* background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
    margin-left: 10px;
    font-family: bolder; */
    
}
/* .manage_review_delete_button:hover {
    color: red;
} */

.review_button_container{
    /* background-color: blue; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.review_starts{
    display: flex;
    align-items: center;
}

.review_starts>div{
    padding: 3px;
}

.review_stars{
    display: flex;
    /* background-color: red; */
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    /* padding: 2px; */
    /* margin-left: 10px; */

}

.Review_by_spots_title{
    /* margin-left: 10px; */
    /* background-color: rebeccapurple; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */

}

.review_discription{
    width: 100%;
    /* margin-left: 10px;
    margin-right: 10px; */
}

.review_buffer_left{
    box-sizing: border-box;
    padding-right: 5px;
    font-size: 20px;
}

.review_buffer_right{
    box-sizing: border-box;
    padding-left: 5px;
    /* background-color: wheat; */
    font-size: 20px;
    
}
.review_info_at_spot_detail_page{
    display: flex;
    /* background-color: aqua; */
    min-width: 200px;
}

.review_at_spot_detail_page{
    display: flex;
    flex-direction: row;
    /* background-color: antiquewhite; */
    justify-content: space-between;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.add_review_button{
    background: white;
    border: 2px solid #DDDDDD;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    height: 50px;
}

.review_detail_container{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 400px;
}

