.images_at_list_page {
    height: 20rem;
    width: 23rem;
    /* height: 250px;
    width: 260px; */
    border-radius: 15px;
}



.list_container_at_list_page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* margin: auto; */
    margin-top: 2.5rem;
    padding-right: 4rem;
    padding-left: 4rem;
    box-sizing: border-box;
    /* background-color: green; */
    /* gap:1.5rem; */
    gap: 30px;
}



.spot_list_item {
    display: flex;
    /* padding: 10px; */
  
}

.spot_prevew_image_container {
    /* height: 400px; */
    /* height: 100%; */
    width: 50%;
    /* background-color: blueviolet; */
    

}
.spot_prevew_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 15px; */
}

.spot_preview_image_at_listing {
    height: 180px; 
    width: 300px;
    max-width: 100%;
    border-radius: 10px;
    box-sizing: border-box;

    
}

.Spot_card {
    border-radius: 30px;
}

.spot_detail_page_container{
    padding-top: 2rem;
    padding-bottom: 8rem;
    /* width: 70%; */
    padding-left: 8rem;
    padding-right: 8rem;
    margin: auto;
    /* background-color: aqua; */
    box-sizing: border-box;
}


.spot_detail_title {
    font-size: 2em;
    font-weight: 500;
    width: 100%;
    /* background-color: beige; */
}
.spot_reviews{
    margin-left: 40px;
    /* background-color: bisque; */
}

.spot_reviews{
    display: flex;
    padding-bottom: 1em;

}

/* .numbers_review{
    border-bottom: solid black 1px;
} */

.spot_image_container{
    border-radius: 10px;
    max-width: 40%;
    /* background-color: wheat; */
}

.image_div{
    /* object-fit: cover; */
    /* height: 50%; */
    width: 50%;
}

.spot_small_image{
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-bottom: 5px;
    /* padding-bottom: 10px; */
    box-sizing: border-box;
    /* border-radius: 15px; */
    /* margin: 20px; */
}

.spot_small_image_container {
    display: flex;
    flex-wrap: wrap;
    /* height: 100%; */
    width: 50%;
    /* background-color: rgb(56, 42, 165); */
}




.spot_browser_review{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: rebeccapurple; */
 
}

.fa-star{
    display: flex;
    padding-right: 5px;
    box-sizing: border-box;
    /* color: red; */
    align-items: center;
}

.spot_browser_city_state{
    font-weight: bold;
}

.spot_browser_details {
    display: flex;
    /* justify-content: space-between; */
} 
.spot_browser_details_container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    /* background-color: antiquewhite; */
}

.price_per_night{
    font-weight:700;
    padding-right: 6px;
}

.price_per_night_container{
    display: flex;
    align-items: center;

}


.spot_by_user_container{
    /* background-color: bisque; */
    width: 70%;
    margin: auto;
}

.create_a_spot_button {
    margin-top: 20px;
    background-color: red;
    border-radius: 5px;
    width: 100px;
    color: white;
    border: 2px solid gray;
}


.dot_div{
    font-weight: bolder;
    padding-left: 6px;
    padding-right: 6px;
}

.span_div{
    display: flex;
    /* padding-left: 15px; */
    box-sizing: border-box;
}

.spot_reviews_item_container{
    display: flex;
    gap:4px;
    align-items: center;
    padding-bottom: 20px;
    box-sizing: border-box;
    /* min-width: 400px;
    background-color: #AAAAAA; */
}

.spot_description{
    /* margin-top: 2em; */
    width: 100%;
    border-top: 1.5px solid #DDDDDD;
    border-bottom: 1.5px solid #DDDDDD;
    box-sizing: border-box;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* margin-left: 10px;
    margin-right: 10px; */
}

.all_booking_wrapper{
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;
    box-sizing: border-box;
    border: 2px #D5D9D9 solid;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    /* background-color: #717171; */
}

.spot_left_container{
    display: flex;
    box-sizing: border-box;
    padding-left: 20px;
    /* padding-right: 20px; */
    /* background-color: #d70a65; */
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.spot_middle_container{
    min-width: 200px;
    max-width: 700px;
    width: 70%;
    /* background-color: #717171; */
    box-sizing: border-box;
    padding-left: 20px;

}

.small_images_container{
    /* background-color: #D5D9D9; */
    display: flex;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 10px;
    gap: 20px;

}

.create_button_wrapper_div{
    width: 200px;
}

.listing_buttong_container{
    /* background-color: antiquewhite; */
    width: 180px;
    display: flex;
    flex-direction: column;
    /* gap: 1px; */
}

.reserve_button{
    /* background-color: red; */
    background: linear-gradient(275deg,#d70a65,#fe3838,#d70a65);
    /* background-size: 200%; */
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    height: 40px;
    /* outline: none; */
    /* transition: 1s; */
    width: 100%; 
    box-sizing: border-box;
    /* margin-top: 20px; */
}

.spot_name_title{
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
    padding-bottom: 10px;
}

.spot_info_container{
    /* width: 30%; */
    background-color: #717171;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
}

.one_spot_container{
    display: flex;
    width: 100%;
    /* background-color: aqua; */
    box-sizing: border-box;
    padding: 20px;
    /* justify-content: space-between; */
    /* align-items: flex-start; */
}


.main_body{
    display: flex;
    flex-direction: column;
}

.night_char{
    color: #222222;
}

.spot_card{
    /* background-color: antiquewhite; */
    box-sizing: border-box;
    padding-top: 30px;
}
.spot_detail_container{
    width: 100%;
    /* background-color: antiquewhite; */
    box-sizing: border-box;
}

.wrapping_booking_container{
    width: 100%;
    display: flex;

}

.detail_discription_container{
    padding-top: 2rem;
    /* padding-bottom: 3rem; */
    box-sizing: border-box;
    /* background-color: red; */
    min-width: 400px;
}


.price_info_container{
    display: flex;
    align-items: center;
    width: 100%;
}
.price_info{
    font-size: 22px;
    font-weight:600;
    /* padding-right: 6px; */
    box-sizing: border-box;
}

.price_info_night{
    font-size: 16px;
    color: #4C4C4C;
    padding-left: 3px;
    box-sizing: border-box;
}

.reserve_button{
    /* background-color: red; */
    background: linear-gradient(275deg,#d70a65,#fe3838,#d70a65);
    /* background-size: 200%; */
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    height: 40px;
    /* outline: none; */
    /* transition: 1s; */
    width: 100%; 
    box-sizing: border-box;
    margin-top: 20px;
}

.error_message_container{
    color: red;
    display: flex;
    flex-direction: column;
}

.review_block_container{
    display: flex;
    width: 100%;
    justify-content: end;
    font-size: 14px;
    /* background-color: red; */
}

.price_and_review_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    /* background-color: aqua; */
    /* padding: 0px; */
}

.booking_container{
    width: 33%;
    min-width: 320px;
    /* background-color: antiquewhite; */
    box-sizing: border-box;
    /* padding: 24px; */
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    padding: 24px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    box-sizing: border-box;
    margin-top: 4rem;
    margin-left: 4rem;
    /* width: 370px; */
    height: auto
    
/*     
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    padding: 24px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px; */

}

.price_and_review_container{
    width: 100%;
    /* background-color: blue; */
}

.review_char_form{
    color: #717171;
}

.booking_form_container{
    display: flex;
    flex-direction: column;

}

.booking_form_container{
    /* background-color: rebeccapurple; */
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    box-sizing: border-box;
}

.date_input{
    height: 48px;
    /* background-color: #717171; */
    border-radius: 10px;
    border: #AAAAAA;
    padding: 10px;
    box-sizing: border-box;
    font: 16px sans-serif;
}

.check_in_and_out{
    margin-left: 5px;
    margin-top: 20px;
    font-size: 18px;

}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png) no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
}

.booking_form_container input[type="date"]{
    width: 100%;

}

.no_charge{
    display: flex;
    justify-content: center;
    color: #434343;
}

.fee_container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    /* background-color: #AAAAAA; */
    gap: 10px;
    font-size: 16px;

}

.fee_sub_container{
    display: flex;
    justify-content: space-between;
}

.spot_detail_small_image{
    max-width: 100px;
    max-height: 100px;
    border-radius: 5px;
    /* object-fit:cover; */

}

.small_image_container{
    display: flex;
}