.log_in_form_content{
    display: flex;
    flex-direction: column;
}

.Login_form_modal{
    display: flex;
    flex-direction: column;
    /* height: 300px;
    width: 500px; */
}

.Log_in_info_container{
    display: flex;
    flex-direction: column;
}

#modal-content {
    height: fit-content;
    width: 300px;
}