.logo {
    height: 3rem;
    width: 3rem;
    
}

.review_at_homepage{
    display: flex;
    align-items: center;
    padding: 2px;
    box-sizing: border-box;
}

.navigation_container {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 4rem;
    padding-right: 5rem;
    height: 2rem;
    box-sizing: border-box;
    align-items: center;
    /* background-color: purple; */
}

.left_navigation_container {
    display: flex;
    justify-content: flex-start;
    /* background-color: green; */
    align-items: center;
}

.home_page_name {
    color: red;
    padding-left: 0.5em;
    font-weight:bolder;
    font-family: inherit;
    font-size: 1.5rem;
}

.fa-user-circle{
    font-size: 2rem;
    color: #666F7A;

}

a{
    text-decoration: none;
}

.Banner{
    background-color: white;
    border-bottom: 1px solid #d3d3d3;
    /* max-width: 70%; */
    width: 100%;
    margin: auto;
    /* background-color: aqua; */
    
    
}


.profile-dropdown-container>button {

    background-color: bisque;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    /* position: fixed; */

}

.menu_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid #DDDDDD;
    padding: 5px 5px 5px 12px;
    box-sizing: border-box;
    height: 3rem;
    width: 6rem;
    transition: box-shadow 0.2s ease;

}

.menu_container:hover{
    transition: box-shadow 0.2s ease;
    box-shadow: 0px 0px 0px 1px #DDDDDD;
}

.profile-dropdown{
    position:fixed;
    background-color: white;
    border-radius: 10px;
    transform: translate(-2.1rem, 2ex)
    
}

.session_link{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.log_out_button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    color: rgb(111, 4, 250);
}